name: Run Python Script on 1 Different Servers

on:
  schedule:
    - cron: '0 1,13 * * *'  # Chạy vào lúc 1h sáng và 1h chiều (UTC)
  workflow_dispatch:  # Cho phép chạy thủ công từ UI của GitHub Actions

jobs:
  run_on_server_1:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run x.py script
        run: python x.py  # Chạy chỉ file x.py
        continue-on-error: true
